<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finanzas</title>
    <link rel="stylesheet" type="text/css" href= "../static/finanzas/css/style.css">
    <!-- href={%static 'finanzas/css/style.css'%}-->
    
</head>
<body>

    <!--Carga JavaScript-->
    <script src="{%static 'finanzas/javascript/scripts.js'%}"></script>
    <div class="header">asas</div>
    <h1>VISTA DE FINANZAS</h1>
    <table border="2">
        <tr>
            <td><button class="button">Inversion</button></td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
        </tr>
        <tr>
            <td><button class="button">Ventas</button></td>
            <td>a</td>
            <td>a</td>
            <td>a</td>
        </tr>
    </table>
</body>
</html>