<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>Document</title>

    <!--PARA QUE CARGUE EL CSS Y JS USAMOS EL STATIC-->

    {%load static%}
    <link rel="stylesheet" href="{%static 'transacciones/css/style.css'%} ">
</head>
<body>

    <h1>Vista de transacciones</h1>
    <!--Carga JavaScript-->
    <script src="{%static 'transacciones/javascript/scripts.js'%}"></script>

   

</body>
</html>